    /* Load the Butler font from a font provider */
    @import url('https://fonts.cdnfonts.com/css/butler');

    /* Apply the Butler font to specific elements */
    body {
      font-family: "Butler", serif;
      font-weight: 400;
      /* Normal text */
      margin: 0;
      padding: 0;
      background-color: #efebe6;
      color: #2a1d16;
      /* (239,237,230) */
    }

    .name {
      font-family: "Butler", serif;
      font-size: 60px;
      /* Adjust the font size as needed */
      position: absolute;
      top: 40px;
      /* Adjust the top position to control vertical placement */
      left: 60px;
      /* Adjust the left position to control horizontal placement */
      z-index: 2;
      /* Place the name above other content */
    }

    /* Vertical spacer */
    .spacer {
      height: 50px;
    }

    /* ... existing code ... */
    .white-frame {
      margin-top: 25px !important;
      background-color: transparent;
      /* Making it transparent */
      padding: 0;
      max-width: 1440px;
      width: 90%;
      margin: auto;
      position: relative;
    }

    .gallery {
      margin: auto;
      white-space: nowrap;
      overflow: hidden;
      max-width: 1440px;
      max-height: 720px;
      width: 80%;
      /* Add this line to make the gallery container responsive */
      font-size: 0;
      /* Removes the white-space */
    }

    .image-container {
      display: inline-block;
      justify-content: center;
      /* Center horizontally */
      align-items: center;
      /* Center vertically */
      max-width: 100%;
      /* Set a maximum width for the container */
      max-height: 720px;
      /* Set a maximum height for the container */
      width: 100%;
      /* Allow the width to adjust according to the aspect ratio */
      height: auto;
      text-align: center;
      /* Center the image horizontally */
    }

    img {
      margin: auto;
      max-width: 100%;
      /* Set a maximum width for the container */
      max-height: 720px;
      /* Set a maximum height for the container */
      width: auto;
      /* Allow the width to adjust according to the aspect ratio */
      height: auto;
    }


    /* Move arrows outside the photo */
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.8);
      border: none;
      cursor: pointer;
      font-size: 64px;
      z-index: 1;
      padding: 0;
      /* Remove default padding */
      line-height: 0;
      /* Adjust line height */
    }

    .left-arrow {
      left: 0px;
    }

    /* Moved left arrow outside the photo */
    .right-arrow {
      right: 0px;
    }

    /* Add styles for the status-gallery and its child elements */
    .status-gallery {
      /* Center the gallery */
      margin-top: 20px !important;
      display: flex;
      justify-content: center;
      overflow: hidden;
      width: 72%;
      margin: auto;
      /* ...other styles... */
    }

    .status-image-container {
      position: relative;
      /* Adding this for overlay positioning */
      display: inline-block;
      /* 1/10th of the main image, adjust as needed */
      height: 72px;
      /* 1/10th of the main image, adjust as needed */
    }

    .status-image {
      width: auto;
      height: 100%;
    }

    .highlighted img {
      filter: none;
    }

    .non-highlighted img {
      opacity: 0.95;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      /* semi-transparent black */
      display: none;
    }

    .non-highlighted .overlay {
      display: block;
    }